#profile-wrapper{
    background-color: #eeeeee;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-wrapper{
    box-sizing: border-box;
    width: 400px;
    /* width: 400px; */
    /* height: 200px; */
    /* height: inherit; */
    /* background-color: seagreen; */
    /* border: 5px solid black; */
}

.input-style{
    width:inherit;
    /* background-color: #00000000; */
    padding: 3px 0 3px 4px;
    color: #cccccc;
    border: 1px solid #cccccc;
}



.error-style{
    display: flex;
    align-items: center;
    height: 20px;
    /* background-color: rebeccapurple; */
    color: red;
}

.gdrop{
    font-size: 20px;
}



