#profile-wrapper{
    background-color: #eeeeee;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20vh;
    padding-top: 0; 
}

.field-wrapper{
    box-sizing: border-box;
    width: 400px;
}

.input-style{
    width:inherit;
    /* background: transparent */
    padding: 3px 0 3px 4px;
    color: #cccccc;
    border: 1px solid #cccccc;
}

.error-style{
    display: flex;
    align-items: center;
    height: 20px;
    color: red;
}

.gdrop{
    font-size: 20px;
}

#create-profile-button-row{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px; 
}

#create-profile-button{
    display: flex;
    background-color: #ffffff00;
    border: 1px solid #cccccc;
    border: none;
    font-size: 1.15em;
        color:rgb(201, 0, 67);

    /* color: #cccccc; */
}

#create-profile-select{
     border: none;
    border-radius: 0;

    color: rgb(76, 76, 76);
    font-weight: 500;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background: transparent;
}

#avatar-upload-input{
    display: none;
}

#profile-select-bounder{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    /* align-items: center; */
    justify-content: space-around;
    /* background: blue; */
    height: 100px;
}
#profile-avatar-upload{
    background-color: rgb(201, 0, 67);
    height: 175px;
    width: 500px;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-fields-bounder{
    height: 250px;
    /* padding-top: 20px; */
    /* background: chocolate; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
