#search-wrapper{
    /* height: 300px; */
    width: 500px;
    
    /* background-color: #ffffff; */
    background-color: rgb(254, 255, 255)
}

#search-title{
    display: flex;
    align-items: center;
    font-size: 10pt;
    font-size: 1.5em;
    background-color: rgb(165, 11, 0);
    height: 1.5em;
    color: #ffffff;
    padding: 0.25em 0 0.25em 0.5em;
}

#search-button{
    border: 1.5px solid red;
    background: transparent;
    color: rgb(180, 23, 0);
    padding: 2px 0.5em;
}

#search-button:hover{
    color: tomato;
}