#login-panel{
    background-color: rgb(201, 0, 67);
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:10px 10px 10px rgb(110, 110, 110);
        margin-top: 20vh;

}

#wrapper{
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input-fields-box{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-field{
    background-color: #00000000;
    padding: 3px 0 3px 4px;
    color: #cccccc;
    border: 1px solid #cccccc;
}

#login-button-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login-button-row button{
    display: flex;
    background-color: #ffffff00;
    border: 1px solid #cccccc;
    border: none;
    font-size: 1.15em;
    color: #cccccc;
}


#login-button-row button:hover{
    color: #999999;
}