*{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-top: 30px ;
    height: 15vh;
    font-size: 30pt;
}

#matches-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: space-around;
}